:root {
 

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9efef;


}

a {
  font-weight: 500;
  color: rgba(43, 118, 161, 0.87);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}




.Card{

  border: 1px solid hsl(0, 1%, 14%);
  border-radius: 20px;
  padding: 3px; 
  box-shadow: 5px 5px 5px hsl(0, 2%, 62%);
  margin: 20px;
  text-align: center;
  overflow: hidden;
  max-width: 150px;
   transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  display: inline-block;  /*for more cards*/
}

.Card .Card-img{
      height: 100%;
      width: 100%;
      border-radius: 18px;
      align-content: center;
      object-fit: cover;
      display: block;
      border: 1px black;
      
}

.Card .Card-title{
    color: black;
    font-size: 17px;
     margin: 13px 0 4px;
    font-family: sans-serif, arial;
}

.Card .Card-desc{
    color: rgba(94,94,94,255);
    margin: 0px 0 25px 0;
    font-size: 13px;
    font-family: sans-serif, arial;
}


.Hidden{
    display:grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.sectionTitle{
    font-size: 32px;
}

.Hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}


.Hidden.show .Card {
  opacity: 1;
  transform: translateY(0);
}

.cardContainer .Card:nth-child(1) {
  transition-delay: 0.2s;
}
.cardContainer .Card:nth-child(2) {
  transition-delay: 0.4s;
}
.cardContainer .Card:nth-child(3) {
  transition-delay: 0.6s;
}
.cardContainer .Card:nth-child(4) {
  transition-delay: 0.8s;
}
.cardContainer .Card:nth-child(5) {
  transition-delay: 1s;
}
.cardContainer .Card:nth-child(6) {
  transition-delay: 1.2s;
}
.cardContainer .Card:nth-child(7) {
  transition-delay: 1.4s;
}
.cardContainer .Card:nth-child(8) {
  transition-delay: 1.6s;
}


@media(prefers-reduced-motion) {
  .hidden {
    transition:none;
  }
}

.Hidden.show {
  opacity: 1;
  filter:blur(0);
  transform: translateX(0);
}

.sectionTitle {
  
}

.clickmeBtn{
  margin:auto;
  display:block;
  padding: 5px;
  font-size: 27px;
  cursor: grab;
  color:black;
  background-color: hsl(220, 43%, 60%);
}